@using Context;

@{
    ViewBag.Title = "Vehículos";
}

<div class="page-header">
    <h2>Vehículos</h2>
</div>

<a class="btn btn-primary" href="/Vehicles/Add">Nuevo Vehículo</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Título</td>
            <td>Nombre</td>
            <td>Teléfono</td>
            <td>Precio</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Vehicle v in ViewBag.Vehicles)
        {
            <tr>
                <td>@v.Id</td>
                <td>@v.Title</td>
                <td>@v.Name</td>
                <td>@v.Telephone</td>
                <td>₡@v.Price</td>
            </tr>
        }
    </tbody>
</table>
