<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label class="control-label">Título *</label>
            <input class="form-control" name="Title" type="text" required />
        </div>
        <div class="form-group">
            <label class="control-label">Descripción *</label>
            <textarea class="form-control" name="Description" required></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Precio *</label>
            <input class="form-control" name="Price" type="number" required />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div cass="form-group">
            <button class="btn btn-primary" type="button" onclick="goStep('stepTwo')">Continuar</button>
        </div>
    </div>
</div>