
@{
    ViewBag.Title = "Nuevo";
}
<div class="page-header">
    <h2>Vehículos <small>Agregar nuevo</small></h2>
</div>

@if(ViewBag.Message != null) { 
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

<form method="post">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#stepOne" data-toggle="tab">Paso 1. Datos del anuncio</a></li>
        <li><a href="#stepTwo" data-toggle="tab">Paso 2. Datos del vehículo</a></li>
        <li><a href="#stepThree" data-toggle="tab">Paso 3. Datos del contacto</a></li>
    </ul>
    <br/><br/>
    <div class="tab-content">
        <!-- Paso 1 -->
        <div class="tab-pane fade active in" id="stepOne">
            @Html.Partial("_StepOne")
        </div>
        <!-- Paso 2 -->
        <div class="tab-pane fade" id="stepTwo">
            @Html.Partial("_StepTwo")
        </div>
        <!-- Paso 3 -->
        <div class="tab-pane fade" id="stepThree">
            @Html.Partial("_StepThree")
        </div>
    </div>
</form>